body{
  background-color: #b3cde0;
}

h1{
  color: 	#011f4b;
  text-align: center;
  word-spacing: 10px;
  font-size: 25pt;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Veranda", sans-serif;
  text-decoration: underline;
}

h2{
  color: 	#011f4b;
  text-align: center;
  word-spacing: 10px;
  font-size: 23pt;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Veranda", sans-serif;
  text-decoration: underline;
}

p{
  color: 	#03396c;
  text-align: left;
  word-spacing: 2px;
  font-size: 15pt;
  margin-left: 20%;
  margin-right: 20%;

  margin-bottom: 2px;
  margin-top: 2px;
  font-family: "Veranda", sans-serif;
}

#container{
  text-align: center;
  margin-bottom: 10px;
}

#checkboxbox{
  text-align: center;
  margin-bottom: 10px;
  font-family: "Veranda", sans-serif;
}



#checkboxcontrolsbox{
  text-align: center;
}

#checkAllButton{
  font-family: "Veranda", sans-serif;
}

#uncheckAllButton{
  font-family: "Veranda", sans-serif;
}
